<div class="row">
  
     
   
    <div class="col s6 center-align">
       <a href="#"> <span ng-click="openInbox()" style="text-decoration:underline;"class="montserrat">Inbox</span></a>

    </div>
    <div ng-click="openCompose()" class="col s6 center-align ">
       <a href="#"> <span class="montserrat underline" style="text-decoration:underline;">Compose</span></a>

    </div>
    <div class = "col s12" style="border-bottom:1px solid #ddd;">
    </div>
    <div class = "row">
    </div>

    <div ng-show="inboxOpen" class="animated fadeIn">

        <div class="col s12" >
            <div class="row">
                <div class="col s2 center-align">
                    
                    <span class="montserrat grey-text truncate">Read/Unread</span>
                </div>

                <div class="col s2">
                    <span class="montserrat grey-text">From</span>
                </div>

                <div class="col s8">
                    <span class="montserrat grey-text">Subject</span>

                </div>
                 <div ng-show="messagesPaginated.length<2">
                
                        <div class="col s12" style="border:1px solid #ddd;">
                         <p class = "montserrat blue-grey-text"> (No Messages Yet!)</p>
                        </div>
                     
                 
                  

               
                </div>
                <div ng-show="messagesPaginated.length>1">
                <div ng-repeat="page in messagesPaginated[page] track by $index">
                    <div class="row">
                        <div class="col s2">
                            <div ng-show="page.read">
                                 <i ng-click="openMessage($index,page.messageIndex)" class="material-icons">drafts</i>
                            </div>
                            <div ng-show="!page.read">
                                <i ng-click="openMessage($index,page.messageIndex)" class="material-icons">email</i>
                            </div>
                        </div>
                        <div class="col s2 center-align">
                            <span ng-click="openMessage($index,page.messageIndex)" class="montserrat grey-text">{{page.from}}</span>
                        </div>
                        <div class="col s8">

                            <span ng-click="openMessage($index,page.messageIndex)" class="montserrat grey-text">{{page.subject}}</span>



                        </div>
                        <div class = "row">
                        
                        <div class="col s12 animated fadeIn align-left " style="border:1px solid #ddd;" ng-show="messageIndex == $index">
                           <p class="flow-text montserrat" style="font-size:19px;"> {{page.body}}</p>
                        </div>
                        <div class="col s12 animated fadeIn align-left " style="border-top:1px solid #ddd;" ng-show="messageIndex == $index">
                                 <i ng-click="markAsUnread($index,page.messageIndex)" class="material-icons">undo</i>
                        </div>
                        </div>
                    </div>

                </div>
                </div>

                <div class="col s2">
                    <span class="montserrat grey-text">{{page.from}}</span>
                </div>

                <div class="col s8">
                    <span class="montserrat grey-text">{{page.subject}}</span>

                </div>
            </div>
            <div class="col s2">
            </div>



        </div>
         <div class = "row">
                                    
                                                <div class="col s3 animated fadeIn center-align " style="border-left:1px solid #ddd;" >
                                               <i ng-click="firstPage()" class = "material-icons">first_page</i>
                                               </div>
                                                <div class="col s6 animated fadeIn center-align " style="border-bottom:1px solid #ddd;" ng-show="messageIndex == $index">
                                                    <div class = "row">
                                                        <div class = "col s6 center-align">
                                                            <i ng-click="previousPageMessageAdmin()"class = "material-icons">navigate_before</i>
                                                            </div>
                                                        <div class = "col s6 right-align">
                                                            
                                                            <i ng-click="nextPageMessageAdmin()"class = "material-icons">navigate_next</i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col s3 animated fadeIn centert-align " style="border-right:1px solid #ddd;" >
                                                <i ng-click="lastPageMessageAdmin()" class = "material-icons">last_page</i>
                                                </div>
                                    </div>
 </div>
        <div ng-show="composeOpen" class="animated fadeIn">
          <div ng-show="userListOpen">
     <div class = "row">
   
<div class = "col s1">
</div>
<div class="col s10">



    <div class="row">
        

        <div class="col s12 center-align">
            <span class="montserrat grey-text">Client List</span>

        </div>

        <div class="col s12" style="border:1px solid grey">
        </div>
        <div class="row">
        </div>
        <div ng-show="usersPaginated[0].length>2">
            <div ng-repeat="page in usersPaginated[page] track by $index">
              
                <div class="row animated fadeIn">
                 
                    <div class="col s12 center-align" style="border-bottom:1px solid #ddd;">
                        <span ng-click="openComposeMessagePageAdmin(page._id,page.name)" class="montserrat grey-text truncate underline" style="font-size:25px;">{{page.name}}</span>
                    </div>


                </div>

            </div>
        </div>
        <div ng-show="usersPaginated[0].length<2">
            <div class="col s12" style="border:1px solid #ddd;">
                <p class="montserrat blue-grey-text"> (No users Yet!)</p>
            </div>

        </div>
        <div class="row">

            <div class="col s3 animated fadeIn center-align " style="border-left:1px solid #ddd;">
                <i ng-click="firstPage()" class="material-icons">first_page</i>
            </div>
            <div class="col s6 animated fadeIn center-align " style="border-bottom:1px solid #ddd;" ng-show="messageIndex == $index">
                <div class="row">
                    <div class="col s6 center-align">
                        <i ng-click="previousPageUserAdmin()" class="material-icons">navigate_before</i>
                    </div>
                    <div class="col s6 center-align">

                        <i ng-click="nextPageUserAdmin()" class="material-icons">navigate_next</i>
                    </div>
                </div>
            </div>
            <div class="col s3 animated fadeIn center-align " style="border-right:1px solid #ddd;">
                <i ng-click="lastPageUserAdmin()" class="material-icons">last_page</i>
            </div>
        </div>




    </div>


</div>
<div class = "col s1">
</div>
</div>

</div>

<div ng-show="!userListOpen">
      <div ng-show="!sendingMessage &&!messageSent">
          <div class = "col s12 right-align">
              <i class = "material-icons" ng-click="closeComposePageAdmin()">clear</i>
            </div>
            <div class="col s12">
                <div class="row">

                    <div class="col s12">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="first_name" type="text" ng-model="messageObject.subject" name="subject"class="validate">
                                        <label for="first_name">Subject</label>
                                    </div>
                                 
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="materialize-textarea" ng-model="messageObject.body" name="body"></textarea>
                                        <label for="textarea1">Message</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class=" input-field col s12 center-align">
                                <button ng-click="submitMessageAdmin()" class="waves-effect waves-light blue-grey btn">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            <div ng-show="sendingMessage && !messageSent">
                
                <i class ="material-icons animated fadeOutRight infinite">email</i>
                <p class = "montserrat blue-grey-text text-lighten-4"  style="font-size:14px">(sending)</p>
                <div class = "col s5">

                </div>
                <div class = "col s2" style="border:1px solid grey; opacity:.6;">
                </div>
                <div class = "col s5">
                </div>
            </div>
            <div ng-show="!sendingMessage && messageSent">
                
                 <p class = "montserrat blue-grey-text animated shake "  style="font-size:17px">~(˘▾˘~)</p>

                <p class = "montserrat blue-grey-text text-lighten-4"  style="font-size:14px">(Message Successfully Delivered!)</p>
                <div class = "col s5">

                </div>
                <div class = "col s2" style="border:1px solid grey; opacity:.6;">
                </div>
                <div class = "col s5">
                </div>
            </div>

     
        </div>
        <div class="col s2">
        </div>

</div>
</div>


</div>