<div class = "col s12">
  <div class = "row"></div>
    <div class = "row">
       
      <div class="col s6 center-align">
        <a href="#"> <span ng-click="openInbox()" style="text-decoration:underline; font-size:25px;"class="montserrat black-text">Inbox</span></a>
 
     </div>
     <div ng-click="openCompose()" class="col s6 center-align ">
        <a href="#"> <span class="montserrat  black-text" style="text-decoration:underline; font-size:25px;">Compose</span></a>
 
     </div>
     <div class = "row">

       <div class = "col s2"></div>
       <div class = "col s8">
        <div class = "col s12" style="border-bottom:2px solid black;"></div>
        <div class = "col s12">
          <div class = 'row'></div>
          <div class="row">
<form class="col s12">
        <div class="row">
  <div class="input-field col s6">
    <input  id="first_name" type="text" class="validate">
    <label for="first_name">First Name</label>
  </div>
  <div class="input-field col s6">
    <input id="last_name" type="text" class="validate">
    <label for="last_name">Last Name</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <textarea id="textarea1" class="materialize-textarea"></textarea>
    <label for="textarea1">Textarea</label>
  </div>
</div>
</form>
</div>

</div>
       </div>
       <div class = "col s2"></div>

     </div>
    
     <div class="row">
      <div class=" input-field col s12 center-align">
          <button ng-click="submitMessage2()" class="waves-effect waves-light blue-grey btn">Submit</button>
      </div>
  </div>
    </div>
</div>