
    <div class = "col s8">
        <p class=" montserrat animated fadeInLeft grey-text"> SCHEDULE A SESSION </p>
    </div>
    <div class = "col s4">
          <div class="input-field col s12 animated fadeInRight">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
    </div>
    
    <div class = "col s8">
        <p class=" montserrat animated fadeInLeft grey-text"> SCHEDULE A DISCOVERY</p>
    </div>
    <div class = "col s4">
          <div class="input-field col s12 animated fadeInRight">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
    </div>
    
    <div class = "col s8">
        <p class=" montserrat animated fadeInLeft"> SCHEDULE S D OR CI PAGE </p>
    </div>
    <div class = "col s4">
          <div class="input-field col s12 animated fadeInRight">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
    </div>
    
<div class = "row">

</div>



    <script>
 $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
      </script>
          

<!--
<div class = "col s12">
    <div class = "row">
    
    <div class = "col s12">
                <div class="row">
    <form class="col s12">
              <div class="row">
        <div class="input-field col s6">
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>

    </div>

    </div>
          <div style="height:200px;width:200px;">
                        <canvas height="100" width="100" id="doughnut" class="chart chart-doughnut" chart-data="data2" chart-options="options" chart-labels="labels">
                        </canvas>
                    </div>
                    <div id="test-slider"></div>
</div>
<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="scheduledJob.data" chart-labels="scheduledJob.labels">
</canvas> -->