<h4 class = "montserrat animated fadeIn">Your Schedule!</h4>

<div class = "col s2"></div>
<div class = "col s8">

    <p class  = "montserrat" style= "font-size: 20px;" > 
        You're own, private inbox. A place where we can communicate openly and honestly, and keep in touch even outside of our appoinments! :)
    </p>
    <div class = "col s12" style="border:2px solid black"></div>


</div>
<div class = "col s2"></div>
<div class = "row"></div>
  
  <div fc="" fc-options="calendarOoptions" ng-model="" class="ng-pristine ng-untouched ng-valid ng-isolate-scope fc fc-unthemed fc-ltr ng-not-empty">
    <div class="fc-toolbar fc-header-toolbar">
        <div class="fc-left">
            <h4 class = "montserrat animated fadeIn">Nev-uary 2020 :O!</h4>
        </div>

      
    </div>
    <div class="fc-view-container" style="">
        <div class="fc-view fc-month-view fc-basic-view" >
            <table class="" style="border:2px solid black;">
                <thead class="fc-head">
                    <tr>
                        <td class="fc-head-container fc-widget-header">
                            <div class="fc-row fc-widget-header">
                                <table class="" style="border:2px solid black;">
                                    <thead >

                                        <tr class="borderblack" >

                                            <th class="fc-day-header fc-widget-header fc-mon borderblack" style="border:2px solid black;"><span class="montserrat black-text " style="font-size:25px; color:black">Sun</span></th>
                                            <th class="fc-day-header fc-widget-header fc-mon borderblack" style="border:2px solid black;"><span class="montserrat black-text"  style="font-size:25px;">Mon</span></th>
                                            <th class="fc-day-header fc-widget-header fc-tue borderblack" style="border:2px solid black;"><span class="montserrat black-text"  style="font-size:25px;">Tue</span></th>
                                            <th class="fc-day-header fc-widget-header fc-wed borderblack" style="border:2px solid black;"><span class="montserrat black-text"  style="font-size:25px;">Wed</span></th>
                                            <th class="fc-day-header fc-widget-header fc-thu borderblack" style="border:2px solid black;"><span class="montserrat black-text"  style="font-size:25px;">Thu</span></th>
                                            <th class="fc-day-header fc-widget-header fc-fri borderblack" style="border:2px solid black;"><span class="montserrat black-text"  style="font-size:25px;">Fri</span></th>
                                            <th class="fc-day-header fc-widget-header fc-sat borderblack" style="border:2px solid black;"><span class="montserrat black-text"  style="font-size:25px;">Sat</span></th>
                                        
                                        </tr>

                                    </thead>
                                </table>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="fc-body">
                    <tr>
                        <td class="fc-widget-content">
                            <div class="fc-scroller fc-day-grid-container" style="overflow: hidden; height: 500px;">
                                <div class="fc-day-grid fc-unselectable">
                                    
                                    <div class="fc-row fc-week fc-widget-content" style="height: 86px;">
                                        <div class="fc-bg">
                                            <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2018-11-25"></td>
                                                        <td class="fc-day fc-widget-content fc-mon fc-other-month fc-past"
                                                            data-date="2018-11-26"></td>
                                                        <td class="fc-day fc-widget-content fc-tue fc-other-month fc-past"
                                                            data-date="2018-11-27"></td>
                                                        <td class="fc-day fc-widget-content fc-wed fc-other-month fc-past"
                                                            data-date="2018-11-28"></td>
                                                        <td class="fc-day fc-widget-content fc-thu fc-other-month fc-past"
                                                            data-date="2018-11-29"></td>
                                                        <td class="fc-day fc-widget-content fc-fri fc-other-month fc-past"
                                                            data-date="2018-12-01"></td>
                                                        <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2018-12-01"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="fc-content-skeleton">
                                            <table>
                                                <thead>
                                                    <tr style="border:2px solid black; height:20px;" >
                                                        <td class="fc-day-top fc-sun fc-other-month fc-past borderblack" data-date="2018-12-26" style="border:2px solid black"><span class="fc-day-number montserrat" style="font-size:25px;">25</span></td>
                                                        <td class="fc-day-top fc-mon fc-other-month fc-past"
                                                            data-date="2018-12-27"><span class="fc-day-number montserrat" style="font-size:25px;">26</span></td>
                                                        <td class="fc-day-top fc-tue fc-other-month fc-past"
                                                            data-date="2018-12-28"><span class="fc-day-number montserrat" style="font-size:25px;">27</span></td>
                                                        <td class="fc-day-top fc-wed fc-other-month fc-past"
                                                            data-date="2018-12-29"><span class="fc-day-number montserrat" style="font-size:25px;">28</span></td>
                                                        <td class="fc-day-top fc-thu fc-other-month fc-past"
                                                            data-date="2018-12-30"><span class="fc-day-number montserrat" style="font-size:25px;">29</span></td>
                                                        <td class="fc-day-top fc-fri fc-other-month fc-past"
                                                            data-date="2018-12-31"><span class="fc-day-number montserrat" style="font-size:25px;">30</span></td>
                                                        <td class="fc-day-top fc-sat fc-past"
                                                            data-date="2018-12-01"><a href="#" ng-click="openScheduledJobPage('2018-12-10','5b9da9b856099b1568fbae0f');"><span class="fc-day-number montserrat" style="font-size:25px;">1</span></a></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td  class = "center-align">
                                                            
                                                            <i ng-show="booked121" class="fa fa-star animated flash" style="padding-top:2px;"aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="fc-row fc-week fc-widget-content" style="height: 86px;">
                                        <div class="fc-bg">
                                            <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2018-12-02"></td>
                                                        <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2018-12-03"></td>
                                                        <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2018-12-04"></td>
                                                        <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2018-12-05"></td>
                                                        <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2018-12-06"></td>
                                                        <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2018-12-07"></td>
                                                        <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2018-12-12"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="fc-content-skeleton">
                                            <table>
                                                <thead>
                                                    <tr style="border:2px solid black;">
                                                        <td class="fc-day-top fc-sun fc-past" data-date="2018-12-02"><a href="#" ng-click="openScheduledJobPage('12-02-2018','5b9da858ead3421a0c8cda2c','2');">
                                                            <span class="fc-day-number montserrat" style="font-size:25px;">22</span></a></td>
                                                        <td class="fc-day-top fc-mon fc-past"
                                                            data-date="2018-12-03"><a href="#" ng-click="openScheduledJobPage('12-03-2018','5b9da9b856099b1568fbae0f');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">3</span></a></td>
                                                        <td class="fc-day-top fc-tue fc-past"
                                                            data-date="2018-12-04"><a href="#" ng-click="openScheduledJobPage('12-04-2018','5bf4efa2e62d6e2cd092ee9b'">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">4</span></a></td>
                                                        <td class="fc-day-top fc-wed fc-past"
                                                            data-date="2018-12-05"><a href="#" ng-click="openScheduledJobPage('12-05-2018','5bf4f0a0b8f53129ecbc1389');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">5</span></a></td>
                                                        <td class="fc-day-top fc-thu fc-past"
                                                            data-date="2018-12-06"><a href="#" ng-click="openScheduledJobPage('12-06-2018','5bf4f0a0b8f53129ecbc138a');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">6</span></a></td>
                                                        <td class="fc-day-top fc-fri fc-past"
                                                            data-date="2018-12-07"><a href="#" ng-click="openScheduledJobPage('12-07-2018','5bf4f0a0b8f53129ecbc138b');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">7</span></a></td>
                                                        <td class="fc-day-top fc-sat fc-past"
                                                            data-date="2018-12-12"><a href="#" ng-click="openScheduledJobPage('12-08-2018','5bf4f0a0b8f53129ecbc138c');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">8</span></a></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td  class = "center-align"><i ng-show="booked122" class="fa fa-star animated flash " ng-click = "openBookingsPage()"aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked123" ng-click = "openBookingsPage()" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked124" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked125" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked126" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked127" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked128" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="fc-row fc-week fc-widget-content" style="height:86px;">
                                        <div class="fc-bg">
                                            <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="fc-day fc-widget-content fc-sun fc-today " data-date="2018-12-09"></td>
                                                        <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2018-12-10"></td>
                                                        <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2018-12-11"></td>
                                                        <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2018-12-12"></td>
                                                        <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2018-12-13"></td>
                                                        <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2018-12-14"></td>
                                                        <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2018-12-15"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="fc-content-skeleton">
                                            <table>
                                                <thead>
                                                    <tr style="border:2px solid black;">
                                                        <td class="fc-day-top fc-sun fc-today " data-date="2018-12-09">
                                                            <span class="fc-day-number montserrat" style="font-size:25px;">9</span></td>
                                                       <a href="#"> <td class="fc-day-top fc-mon fc-future"
                                                            data-date="2018-12-10"><a href="#" ng-click="openScheduledJobPage('2020-22-10','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">10</span></a></td></a>
                                                        <td class="fc-day-top fc-tue fc-future"
                                                            data-date="2018-12-11"><a href="#" ng-click="openScheduledJobPage('2020-22-11','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">11</span></a></td>
                                                        <td class="fc-day-top fc-wed fc-future"
                                                            data-date="2018-12-12"><a href="#" ng-click="openScheduledJobPage('2020-22-12','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">12</span></a></td>
                                                        <td class="fc-day-top fc-thu fc-future"
                                                            data-date="2018-12-13"><a href="#" ng-click="openScheduledJobPage('2020-22-13','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">13</span></a></td>
                                                        <td class="fc-day-top fc-fri fc-future"
                                                            data-date="2018-12-14"><a href="#" ng-click="openScheduledJobPage('2020-22-14','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">14</span></a></td>
                                                        <td class="fc-day-top fc-sat fc-future"
                                                            data-date="2018-12-15"><a href="#" ng-click="openScheduledJobPage('2020-22-15','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" style="font-size:25px;">15</span></a></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                               
                                                    <tr>
                                                      <td  class = "center-align"><i ng-show="booked129" class="fa fa-star animated flash " aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1210" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1211" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1212" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1213" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1214" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1215" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                    </tr>
                                                
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="fc-row fc-week fc-widget-content" style="height: 86px;">
                                        <div class="fc-bg">
                                            <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="fc-day fc-widget-content fc-sun fc-future" data-date="2018-12-16"></td>
                                                        <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2018-12-17"></td>
                                                        <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2018-12-18"></td>
                                                        <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2018-12-19"></td>
                                                        <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2018-12-20"></td>
                                                        <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2018-12-21"></td>
                                                        <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2018-12-22"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="fc-content-skeleton">
                                            <table>
                                                <thead>
                                                    <tr style="border:2px solid black;">
                                                        <td class="fc-day-top fc-sun fc-future" data-date="2018-12-16">
                                                            <a href="#" ng-click="openScheduledJobPage('2020-17-30','5bf4f0a4b8f53129ecbc13a0');">
                                                            <span class="fc-day-number montserrat" class="fc-day-number montserrat" style="font-size:25px;">17</span></a></td>
                                                        <td class="fc-day-top fc-mon fc-future"
                                                            data-date="2018-12-17"><a href="#" ng-click="openScheduledJobPage('2020-18-30','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" class="fc-day-number montserrat" style="font-size:25px;">18</span></a></td>
                                                        <td class="fc-day-top fc-tue fc-future"
                                                            data-date="2018-12-18"><a href="#" ng-click="openScheduledJobPage('2020-19-30','5bf4f0a4b8f53129ecbc13a0');">>
                                                                <span class="fc-day-number montserrat" class="fc-day-number montserrat" style="font-size:25px;">19</span></a></td>
                                                        <td class="fc-day-top fc-wed fc-future"
                                                            data-date="2018-12-19"><a href="#" ng-click="openScheduledJobPage('2020-20-30','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" class="fc-day-number montserrat" style="font-size:25px;">20</span></a></td>
                                                        <td class="fc-day-top fc-thu fc-future"
                                                            data-date="2018-12-20"><a href="#" ng-click="openScheduledJobPage('2020-21-30','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" class="fc-day-number montserrat" style="font-size:25px;">21</span></a></td>
                                                        <td class="fc-day-top fc-fri fc-future"
                                                            data-date="2018-12-21"><a href="#" ng-click="openScheduledJobPage('2020-22-30','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" class="fc-day-number montserrat" style="font-size:25px;">22</span></a></td>
                                                        <td class="fc-day-top fc-sat fc-future"
                                                            data-date="2018-12-22"><a href="#" ng-click="openScheduledJobPage('2020-23-30','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat" class="fc-day-number montserrat" style="font-size:25px;">23</span></a></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                      <td  class = "center-align"><i ng-show="booked1217" class="fa fa-star animated flash " aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1218" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1219" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1220" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1221" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1222" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1223" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="fc-row fc-week fc-widget-content" style="height: 86px;">
                                        <div class="fc-bg">
                                            <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="fc-day fc-widget-content fc-sun fc-future" data-date="2018-12-23"></td>
                                                        <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2018-12-24"></td>
                                                        <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2018-12-25"></td>
                                                        <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2018-12-26"></td>
                                                        <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2018-12-27"></td>
                                                        <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2018-12-28"></td>
                                                        <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2018-12-29"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="fc-content-skeleton">
                                            <table>
                                                <thead>
                                                    <tr style="border:2px solid black;">
                                                        <td class="fc-day-top fc-sun fc-future" data-date="2018-12-23"><a href="#" ng-click="openScheduledJobPage('2020-22-24','5bf4f0a4b8f53129ecbc13a0');"><span class="fc-day-number montserrat" style="font-size:25px;">24</span></a></td>
                                                        <td class="fc-day-top fc-mon fc-future"
                                                            data-date="2018-12-24"><a href="#" ng-click="openScheduledJobPage('2020-22-25','5bf4f0a4b8f53129ecbc13a0');"><span class="fc-day-number montserrat" style="font-size:25px;">25</span></a></td>
                                                        <td class="fc-day-top fc-tue fc-future"
                                                            data-date="2018-12-25"><a href="#" ng-click="openScheduledJobPage('2020-22-26','5bf4f0a4b8f53129ecbc13a0');"><span class="fc-day-number montserrat" style="font-size:25px;">26</span></a></td>
                                                        <td class="fc-day-top fc-wed fc-future"
                                                            data-date="2018-12-26"><a href="#" ng-click="openScheduledJobPage('2020-22-27','5bf4f0a4b8f53129ecbc13a0');">><span class="fc-day-number montserrat" style="font-size:25px;">27</span></a></td>
                                                        <td class="fc-day-top fc-thu fc-future"
                                                            data-date="2018-12-27"><a href="#" ng-click="openScheduledJobPage('2020-22-28','5bf4f0a4b8f53129ecbc13a0');">><span class="fc-day-number montserrat" style="font-size:25px;">28</span></a></td>
                                                        <td class="fc-day-top fc-fri fc-future"
                                                            data-date="2018-12-28"><a href="#" ng-click="openScheduledJobPage('2020-22-29','5bf4f0a4b8f53129ecbc13a0');"><span class="fc-day-number montserrat" style="font-size:25px;">29</span></a></td>
                                                        <td class="fc-day-top fc-sat fc-future"
                                                            data-date="2018-12-29"><a href="#" ng-click="openScheduledJobPage('2020-22-30','5bf4f0a4b8f53129ecbc13a0');">
                                                                <span class="fc-day-number montserrat"style="font-size:25px;">30</span>
                                                            </a></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                         <td  class = "center-align"><i ng-show="booked1224" class="fa fa-star animated flash " aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1225" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1226" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1227" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1228" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1229" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                        <td  class = "center-align"><i ng-show="booked1230" class="fa fa-star animated flash" aria-hidden="true"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   
                                          <div class="fc-row fc-week fc-widget-content" style="height: 86px;">
                                        <div class="fc-bg">
                                            <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="fc-day fc-widget-content fc-sun fc-future" data-date="2018-12-23"></td>
                                                        <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2018-12-24"></td>
                                                        <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2018-12-25"></td>
                                                        <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2018-12-26"></td>
                                                        <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2018-12-27"></td>
                                                        <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2018-12-28"></td>
                                                        <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2018-12-29"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="fc-content-skeleton">
                                            <table>
                                                <thead>
                                                    <tr style="border:2px solid black;"> 
                                                        <td class="fc-day-top fc-sun fc-future" data-date="2018-12-23"><a href="#" ng-click="openScheduledJobPage('2018-12-10','5bf4f0a4b8f53129ecbc139b');">
                                                            <span class="fc-day-number montserrat" style="font-size:25px;">31</span></a></td>
                                                        <td class="fc-day-top fc-mon fc-future"
                                                            data-date="2018-12-24"><a href="#" ng-click="openScheduledJobPage('2018-12-10','5bf4f0a4b8f53129ecbc139a');"><span class="fc-day-number"></span></a></td>
                                                        <td class="fc-day-top fc-tue fc-future"
                                                            data-date="2018-12-25"><a href="#" ng-click="openScheduledJobPage('2018-12-10','5bf4f0a4b8f53129ecbc139c');"><span class="fc-day-number"></span></a></td>
                                                        <td class="fc-day-top fc-wed fc-future"
                                                            data-date="2018-12-26"><a href="#" ng-click="openScheduledJobPage('2018-12-10','5bf4f0a4b8f53129ecbc139d');"><span class="fc-day-number"></span></a></td>
                                                        <td class="fc-day-top fc-thu fc-future"
                                                            data-date="2018-12-27"><a href="#" ng-click="openScheduledJobPage('2018-12-10','5bf4f0a4b8f53129ecbc139e');"><span class="fc-day-number"></span></a></td>
                                                        <td class="fc-day-top fc-fri fc-future"
                                                            data-date="2018-12-28"><a href="#" ng-click="openScheduledJobPage('2018-12-10','5bf4f0a4b8f53129ecbc139f');"><span class="fc-day-number"></span></a></td>
                                                        <td class="fc-day-top fc-sat fc-future"
                                                            data-date="2018-12-29"><a href="#" ng-click="openScheduledJobPage('2018-12-10','5bf4f0a4b8f53129ecbc13a0');"><span class="fc-day-number"></span></a></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
