<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">

    <div class = "col s12 center-align">
        <img class="responsive-img" src="../img/sbl.jpg">
        <p class = "atypewriter" style="font-size:25px;">{{currentClient}}'s' Intake Form</p>
        
        
    
    </div>
    <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Name</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.name}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
       <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Address</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.address}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
       <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Email</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.email}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Phone Number</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.phonenumber}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Occupation</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.occupation}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Age</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.age}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Height</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.height}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Current Weight</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.currentweight}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Weight One Year Ago</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.weightoneyearago}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> History Of Family Health Problems</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.healthproblems}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Please rate your stress levels on a scale of 1-10 (10 being the highest)</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.stresslevel}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> How would you rate the pace of your life?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.pace}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What are your major health concerns?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.healthconcerns}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you exercise regularly?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.exerciseregular}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> If yes please share</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.share}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you experience any troubles with digestion?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.digestion}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> If yes, please share</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.digestionshare}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Are you able to sleep for 7-8 hours uninterrupted?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.sleep}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> If no what keeps you up?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.keepsyouup}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> How much water do you drink per day?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.water}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you eat when you are stressed?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.eatstressed}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you eat when you are bored?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.eatwhenbored}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you have problems with portion control?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.portioncontrol}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you have any addictions?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.addictions}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> If yes please share with me?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.email}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you have any chronic pain conditions? 

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.chronicpain}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> How are your energy levels?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.energy}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you practice any type of meditation?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.meditation}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Are you physically active?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.active}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What type of exercise do you enjoy?


</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.exercisetype}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;">Have you tried any health programs or dieting in the past? 

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.healthprograms}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Do you eat breakfast every day?



</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.breakfast}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What are your major health concerns?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.healthconcerns}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What changes would you like to see in 3 months from now?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.changesliked}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What challenges are you having with living a healthy lifestyle?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.challenges}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;">Is there anything important about your health you would like to share?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.important}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> How organized are your spaces? (car, home etc.)

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.organization}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Relationship status? 

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.relationship}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What do you most want to get from the coaching relationship?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.whatyouwant}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Are you physically active?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.active}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What is the best way for me to coach you most effectively?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.bestwaycoach}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What tips would you give about how you operate?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.operate}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Are you physically active?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.active}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
      <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Are you physically active?

</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{wellnessIntakeObject.active}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
</div>