<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">

    <div class = "col s12 center-align">
        <img class="responsive-img" src="../img/logonew.jpg">
        <p class = "atypewriter" style="font-size:25px;">{{currentClient}}'s' Intake Form</p>
        
        
    
    </div>
    <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What is going well?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{intakeObject2.question1}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
       <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> Where am i feeling challenged?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{intakeObject2.question2}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
       <div class = "col s12 center-align">
                <p class = "montserat" style="font-size:30px; text-decoration:underline;"> What would i like to work on?</p>

    </div>
    <div class = "row">
        <div class = "col s2">

        </div>
        <div class = "col s8 center-align" style="border:1px solid grey">
            <p class = "montserat" style="font-size:20px;"> {{intakeObject2.question3}}</p>
        </div>
        <div class = "col s2">
        </div>
    </div>
</div>