<div class = "row">
    <div class = "col s12">

        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>
 

        <div class = "col s6 animated fadeIn">
         
            <br>
            <br>
            <br>
            <br>
            <img class = "responsive-img "src="../../img/starsmallleah.gif">
            <div class ="hide-on-med-and-down">
            <h4 class="blue-grey-text">"Even The Smallest Spark Can Grow To Shine The Brightest Light..."</h4>
            <p class = "blue-greyt-text" stle="font-size:25px;">-K.Samuel</p>
            </div>
            <div class ="hide-on-large-only">
            <h4 class="blue-grey-text">"Even The Smallest Spark Can Grow To Shine The Brightest Light..."</h4>
            <p class = "blue-greyt-text" stle="font-size:25px;">-K.Samuel</p>
            </div>
        </div>
        <div class = "col s6 animated fadeIn">
            <br>
            <br>
            <br>
        <br>
            <p class = "flow-text montserrat">Hi! </p>
              <p class = "flow-text montserrat" >  My name is Leah, and I am a Health/Wellness Coach, as well as a Holistic Life Coach.  I’m passionate about empowering women, and I want to provide you with the tools to learn the importance of self-love. 

 

My healing journey, which started three years ago, enabled me to find my purpose and I would like to share my story with you. </p>

 
<p class = " montserrat flow-text" >
I grew up in a dysfunctional home with an alcoholic parent. I spent much of my adolescent years in foster care, which left me with deep-rooted abandonment issues, as well as having suffered Post Traumatic Stress Disorder, as a result of the trauma that I experienced.

 
</p>

        </div>
        <div class = "row">

        <div class="col s6">
            <p class = " montserrat flow-text" >
            In 2001, I was wheelchair bound for two years after a life-altering car accident.  My world was turned upside down physically, mentally and spiritually. I would find myself battling the repercussions of this accident for the next 15+ years; undergoing multiple knee surgeries, as well as continuously dealing with chronic pain conditions.

 

I suffered from debilitating anxiety and depression, due to pain from my accident, and the trauma of my youth that I had not yet fully realized, or addressed. My pain manifested in disordered eating, and other behaviors that were not conducive to positive growth.

 

After the passing of my mom, in 2010, I felt overwhelmed by grief, and I turned to food for comfort and escape, something so many women do but don't talk about openly. I gained over 100lbs in less than a year. 

 

In 2015, I was very fortunate to have had a chance referral to meet and learn from Leanne Clarkson, my Counsellor and Life Coach, who has since also become my mentor.  She gave me a safe space, for the first time in my life, where I was provided with the tools and ability to uncover my truth and learn to heal myself. This was life changing for me.</p> 
        </div>
        <div class = "col s6">
           <p class = "montserrat flow-text "> Through hard work, perseverance and the support of Leanne, my medical team, and organizations such as Over Eaters Anonymous and Al-Anon, I was able to get back on my feet, and in the process, I shed 80lbs.

  

Being able to find my inner warrior inspired me to immerse myself in health studies including nutrition, wellness coaching, and holistic life coaching. I have obtained certifications as a Health/Wellness Coach and a Life Coach, through the Health Coach Institute, as well as a certified Life Coach, through Rhodes Wellness College.

 

I would love to extend a hand to support women who are struggling; who feel stuck and to those living with chronic pain; any women who want to transform their lives.

 

I reside in beautiful Vancouver, Canada with my best gal pal, Foxy the Pomeranian.  I love to cook healthy and hearty comfort food, and I enjoy spending time with my friends; my soul family.  I'm deeply moved and inspired by the late Louise L. Hay's messages of love and hope to share her wisdom with my clients and the world.  

 

My passions and core beliefs lie in practicing kindness, the law of attraction and paying it forward.  I strongly believe in the importance of exploring one's truth and purpose in the healing process.

 

I will help you to:

 

- Gain clarity and find your purpose 

 

- Empower you to realize your self-worth

 

- Develop the skills necessary to promote positive and loving self-talk

 

- To form healthy habits in all aspects of life 

 

- Love and accept yourself

 

- And, above all, to Shine Bright</p>
        </div>

        <div class = "col s6">
            <div class ="hide-on-med-and-down">
                <br>
                <br>
                <br>
                <br>
                <h4 class="blue-grey-text">"Love and accept yourself - And, above all, Shine Bright!"
                </h4>
                <p class = "blue-greyt-text" stle="font-size:25px;">-Leah Kelly</p>
                </div>
        </div>
        
        </div>

    </div>

</div>