<div class = "row"></div>
<div class = "row"></div>
<div class = "row"></div>
<div class = "row"></div>
<div class = "row"></div>
<div class = "row"></div>
<div class = "row"></div>

    <div class="col s12 center-align">
        <br>
        <br>
        <br>

        <img class="responsive-img animated pulse " src="../../img/logonew.jpg">

    </div>
    <div class="col s12" style="border:1px solid grey">
    </div>
    <div class="col s2">
    </div>
    <div class="col s8 center-align">
        <h3 class="montserrat animated slideInRight"> Interested in working together?</h3>
        <a href="/register" class="blue-grey-text">
            <p class="montserrat animated slideInLeft" style="font-size:20px">Book a Free Discovery Session!</p>
        </a>
        <a href="/register" class="blue-grey-text animated pulse infinite">(click here)</a>
        <p class="montserrat animated slideInLeft" style="font-size:20px">If you have any questions, please call or email me.</p>
        <p class="montserrat animated slideInLeft" style="font-size:20px">I look forward to connecting! ~ Leah</p>
       <a href="leah@shinebrightcoaching.ca" style="color:#607d8b;"> <p class="montserrat animated slideInLeft blue-grey-text" style="font-size:20px">leah@shinebrightcoaching.ca</p></a>
        <p class="montserrat animated slideInLeft blue-grey-text" style="font-size:20px">778 223 0399</p>
        <div class="row">
            <div class="col s6 center-align">
                <a href="http://www.facebook.com/shinebrightcoaching" class="blue-grey-text"> <i class="fa fa-facebook-official blue-grey-text"  style='font-size:30px;'aria-hidden="true"></i></a>
            </div>
            <div class="col s6">
                <a href="http://www.instagram.com/shinebrightcoaching" class="blue-grey-text"><i class="fa fa-instagram blue-grey-text" style='font-size:30px;'aria-hidden="true"></i></a>
            </div>
            <div class="col s12 center-align">
                <br>
                <h4 class="montserrat blue-grey-text">"Connect To Your Source Of Light, And You Will Shine Bright!"</h4>
                <div class="right-align">
                    <p class="montserrat">-Lailah Gifty Akita</p>
                </div>
            </div>

        </div>

    </div>
    <div class="col s2">
    </div>
