<div class="row">
    <div class="col s12">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>

        <div class="row">

            <div class="col s6" ng-show="!wellnessCoach || !lifeCoach" style="border-right: 1px solid grey;">

                <div ng-show="!wellnessCoach && !lifeCoach">
                   <a href="#" class="black-text">
                       <h4 class="montserrat animated slideInRight" ng-click="openWellnessCoach()">Wellness Coach</h4>
                   </a>
                    <a href="#" class="black-text">
                        <h4 class="montserrat animated slideInRight" ng-click="openLifeCoach()">Holistic Life Coach</h4>
                    </a>
                </div>

            </div>

            <div class="col s6 " >

                <div ng-show="wellnessCoach" class="right-align">

                    <a href="#" style="color:black;">

                        <i class="material-icons" style="font-size:30px;" ng-click="closeWellnessCoach()">clear</i>

                    </a>

                </div>
                <div ng-show="lifeCoach" class="right-align">

                    <a href="#" style="color:black;">

                        <i class="material-icons" style="font-size:30px;" ng-click="closeLifeCoach()">clear</i>

                    </a>

                </div>

            </div>

            <div class="col s6 animated fadeIn">
                <div ng-show=" !wellnessCoach && !lifeCoach" class="animated fadeIn">
                    <h4 class="montserrat blue-grey-text">"Live Your Truth. Love Your Light. Share Your Shine!"</h4>
                    <p class="montserrat  right-align"> -K. Samuel</p>
                </div>
                <div ng-show="wellnessCoach " class="animated fadeIn">
                    <h4 class="montserrat blue-grey-text">"Live Your Truth. Love Your Light. Share Your Shine!"</h4>
                    <p class="montserrat  right-align"> -K. Samuel</p>
                </div>
                <div ng-show="lifeCoach " class="animated fadeIn">
                    <h4 class="montserrat blue-grey-text">"Dream Big. Shine Bright."</h4>
                    <p class="montserrat  right-align"> -Lailah Gifty Akita</p>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div ng-show="lifeCoach">
            <p class="montserrat blue-grey-text" style="font-size:25px;"> What is a Holistic Life Health Coach? </p>


            <p class="montserrat blue-grey-text" style="font-size:17px;"> A holistic life coach integrates emotions, mind, body and spirit. They help you identify and reach your goals
                by breaking down the barriers that are preventing you from finding your full potential. Holistic Life coaching
                can involve working on various aspects of your life, such as your relationships, career, time management,
                balance and spiritual growth. A life coach starts from where you are today and helps you map out a plan for
                getting to where you want to be.
            </p>


            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;"> As your Life Coach, I want to celebrate your individuality,whether you want help moving forward in an area of
                your life or you want to turn your passion into purpose. I serve as your motivator, strategist, and accountability
                partner. I will work with you one-on-one to assist you in determining and achieving your personal or professional
                goals. I will help you to clarify your dreams and recognize what is standing in your way. Together, we will
                discover and release your inner warrior!

            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">
                It is important to state that a Health/Wellness coach is<strong> NOT</strong> a nutritionist or an MD. I
                cannot medicate, test, prescribe supplements or prescribe specific dietary meal plans. For those types of
                requirements, I recommend you seek out a qualified nutritionist, naturopath or an MD.
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                It is important to state what a life coach is NOT a therapist; I do not directly treat issues like depression or mental illness.
                I recommend you seek out a qualified therapist to complement your coaching, and I can provide recommendations.

            </p>
            <br>
            <p class="montserrat blue-grey-text flow-text" style="font-size:25px;">

                This Program may NOT be for you if:
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - You're looking for a quick fix.
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - You're looking to drop a significant amount of weight quickly.
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - You just want to follow a meal plan.
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - You're not ready to prioritize your health
            </p>


            <br>
            <p class="montserrat  flow-text" style="font-size:22px;">

                There are a few options available to work with me via phone or virtually.
            </p>
            <br>
            <p class="montserrat blue-grey-text flow-text underline" style="font-size:22px;">

                Book your Free 30 Minute Discovery Call

            </p>

            <br>
            <p class="montserrat yellow lighten-3  flow-text" style="font-size:25px;">

                Individual Session
            </p>

            <p class="montserrat  flow-text" style="font-size:17px;">

                I rarely work with clients for just one session, however I will do what I can to help in such a limited amount of time.

            </p>

            <p class="montserrat blue-grey-text flow-text" style="font-size:22px;">

                Includes:
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - 1- 50 minute Life Coaching session.
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - Free email or Virtual check in between appointments
            </p>
            <br>
            <p class="montserrat yellow lighten-3  flow-text" style="font-size:25px;">

                3-month Gold program
            </p>

            <p class="montserrat  flow-text" style="font-size:17px;">

                This package is designed for people that would like help in overcoming one or two issues such as empowering yourself /or
                unlocking your voice.

            </p>

            <p class="montserrat blue-grey-text flow-text" style="font-size:22px;">

                Includes:
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - 6 x 50-minute Life Coaching sessions.
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">


                - Free email or Virtual check in between appointments.
            </p>
            <br>
            <h4 class="montserrat yellow  lighten-3 flow-text" style="font-size:25px;">

                3-month Platinum program
            </h4>

            <p class="montserrat  flow-text" style="font-size:17px;">


                This package is designed for people wanting to make major changes in their life. Discovering your personal power and releasing
                old patterns that no longer serve you and give you the tools you need to implement them.
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:22px;">

                Includes:
            </p>
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - 12 x 50-minute Life Coaching Sessions
            </p>
            <p class="montserrat blue-grey-text lighten-3 flow-text" style="font-size:17px;">

                - Free email support between sessions
            </p>


        </div>
    </div>
    <div ng-show="wellnessCoach">
        <p class="montserrat blue-grey-text" style="font-size:25px;"> What is a Health/Wellness Coach? </p>


        <p class="montserrat blue-grey-text" style="font-size:17px;"> A Health/Wellness Coach focuses on all aspects of your health and wellness and is someone who empowers you to make
            lasting transformative changes. Health/Wellness Coaches allow you to develop healthy habits, motivation to act,
            and to create meaningful and lasting changes for a better today and for a healthy future!
        </p>


        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;"> As your Health/Wellness Coach, I want to help you look at all aspects of your life to help you identify any areas
            that may be holding you back from reaching your health goals. Whether your goal is to increase energy, lose weight,
            or improve overall wellness, I can help you achieve this. By working with you directly, we'll discover what is
            right for you and what works best for you together. Working with a Health/Wellness Coach is one of the best gifts
            that you can give yourself. You'll learn to build healthy habits that line up with how you want to feel every
            day! I'm here to help you with planning, action, accountability, and follow-through.

        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">
            It is important to state that a Health/Wellness coach is<strong> NOT</strong> a nutritionist or an MD. I cannot
            medicate, test, prescribe supplements or prescribe specific dietary meal plans. For those types of requirements,
            I recommend you seek out a qualified nutritionist, naturopath or an MD.
        </p>
        <br>
        <p class="montserrat blue-grey-text flow-text" style="font-size:25px;">

            This Program may NOT be for you if:
        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

            - You're looking for a quick fix.
        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

            - You're looking to drop a significant amount of weight quickly.
        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

            - You just want to follow a meal plan.
        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

            - You're not ready to prioritize your health
        </p>


        <br>
        <p class="montserrat blue-grey-text flow-text" style="font-size:22px;">

            There are a few options available to work with me via phone or virtually
        </p>
        <br>
        <p class="montserrat blue-grey-text flow-text underline" style="font-size:22px;">

            Book your Free 30 Minute Discovery Call

        </p>
        <br>
        <br>
        <p class="montserrat yellow lighten-3 flow-text" style="font-size:25px;">

            28-day Reboot
        </p>

        <p class="montserrat  flow-text" style="font-size:17px;">

            In this intensive program, we will get you back on track. This package is designed for people that would like help with one
            or two issues and/or improve their quality of life
        </p>

        <p class="montserrat blue-grey-text flow-text" style="font-size:22px;">

            Includes:
        </p>
        <p class="montserrat  flow-text" style="font-size:17px;">

            - 4 x 50-minute Wellness Coaching session
        </p>
        <p class="montserrat  flow-text" style="font-size:17px;">

            - Free email support between appointments
        </p>

        <p class="montserrat  flow-text" style="font-size:17px;">

            3-month Gold program
        </p>

        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

            As we work together, we will look at how you can make lasting food and lifestyle changes to improve your quality of life
            and give you the tools you need to implement them.
        </p>

        <p class="montserrat blue-grey-text flow-text" style="font-size:22px;">

            Includes:
        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

            - 6 x 50-minute Life Coaching sessions,
        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">


            - Free email support between appointments
        </p>
        <br>
        <h4 class="montserrat yellow lighten-3 flow-text" style="font-size:17px;">

            3-month Platinum program
        </h4>

        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">


            This package is designed for people wanting to make major changes with their Lifestyle. Getting you out of your comfort zone
            and release old patterns that no longer serve you .

        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:25px;">

            Includes:
        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:25px;">

            - 12 x 50-minute Life Coaching Sessions
        </p>
        <p class="montserrat blue-grey-text lighten-3 flow-text" style="font-size:25px;">

            - Free email support between sessions
        </p>

        <p class="montserrat blue-grey-text flow-text" style="font-size:25px;">

            For Vancouver Clients:
        </p>
        <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

            - Private Grocery Tour
            <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                - Pantry and Fridge Makeover
                <p class="montserrat blue-grey-text flow-text" style="font-size:17px;">

                    - Includes personalized shopping list
                </p>
    </div>
</div>

</div>