<div class="container">
  <div class="row ">

  
    </div>
    <div class="row ">

  
    </div>
    <div class="row ">

  
    </div>
    <div class="row ">

  
    </div>
     <div class="row ">

  
    </div>
    <div class="row ">

  
    </div>

    
    <div class="row  center-align">
        <div>
           <div class="col s4 animated center-align" ng-class="{fadeOut:fadeOutMenu}">
                <a ng-href="profile/{{id}}">
                    <p class="montserrat grey-text underline"  style="font-size:24px;"ng-click="openInfoPage()">Home</p>
                </a>
            </div>
            <div class=" col s4 animated center-align" ng-class="{fadeOut:fadeOutMenu}">

                <a href="/schedule">
                    <p class="montserrat grey-text underline" style="font-size:24px;"ng-click="openAdminBookingsPage()">Bookings</p>
                </a>
            </div>

            <div class=" col s4 animated center-align " ng-class="{fadeOut:fadeOutMenu}">

                <a href="/messages">
                    <p class="montserrat grey-text underline"style="font-size:24px;" >Messages</p>
                </a>
               
          </div>
        </div>

        <div ng-show="adminBookingsPageOpen" >
            <admin-bookings-page></admin-bookings-page>

        </div>
        <div ng-show="infoPageOpen" >
            <info-page></info-page>

        </div>
        <div ng-show="schedulePageOpen" class="col s12 animated fadeIn">
            <!--<div fc fc-options="calendarOoptions" ng-model="events"   >  </div> -->
            <div ng-show="!scheduledJobPageOpen && !scheduleSDOrCiPageOpen && !bookingsPageOpen &&!bookingPageOpen">
                <schedule-page></schedule-page>
            </div>

            <div ng-show="scheduledJobPageOpen">
                <scheduled-job-page></scheduled-job-page>
            </div>
            <div ng-show="bookingsPageOpen">
                <booking-page></booking-page>
             </div>
            </div>

            <div ng-show="bookingPageOpen">
                <div ng-show="slot == 'eight'">
                    <eight-to-nine></eight-to-nine>
                </div>
                <div ng-show="slot == 'nine'">
                    <nine-to-ten></nine-to-ten>
                </div>
                <div ng-show="slot == 'ten'">
                    <ten-to-eleven></ten-to-eleven>
                </div>
                <div ng-show="slot == 'eleven'">
                    <eleven-to-twelve></eleven-to-twelve>
                </div>
                <div ng-show="slot == 'twelve'">
                    <twelve-to-one></twleve-to-one>
                </div>
                <div ng-show="slot == 'one'">
                    <one-to-two></one-to-two>
                </div>
                <div ng-show="slot == 'two'">
                    <two-to-three></two-to-three>
                </div>
                <div ng-show="slot == 'three'">
                    <three-to-four></three-to-four>
                </div>
                
            </div>
            
           <!-- <div ng-show="scheduleSDOrCiPageOpen">
                <div ng-show="slot == 3">
                    <ten-to-eleven></ten-to-eleven>
                </div>-->

                <!-- <schedule-s-d-or-ci-page></schedule-s-d-or-ci-page>-->
            
            
    </div>
        </div>
        <div ng-show="timesheetPageOpen" class="col s12 animated fadeIn" style="height:59px;">

            <timesheet-page></timesheet-page>

        </div>
        <div ng-show="messagePageOpen" class="animated fadeIn center-align" >

            <div ng-show="!composeMessagePageOpen  && !loadingMessages">

                <admin-message-page></admin-message-page>

            </div>
            <div ng-show="!composeMessagePageOpen && loadingMessages">
                <br>
                <br>
                <br>
                <br>
                <i class="fa fa-spin fa-circle-o-notch" style="font-size:40px;" aria-hidden="true"></i>

            </div>
            <div ng-show="composeMessagePageOpen &&!loadingMessages">

                <compose-message-page></compose-message-page>
            </div>

        </div>

    </div>

   <!-- <div class="row hide-on-small-only">
        <div class="col s2" style="border-right:2px solid white;">
            <div>
                <div class="animated" ng-class="{fadeOut:fadeOutMenu}">
                    <a href="#">
                        <p class="montserrat grey-text" ng-click="openInfoPage()">Info</p>
                    </a>
                </div>
                <div class="animated" ng-class="{fadeOut:fadeOutMenu}">

                    <a href="#">
                        <p class="montserrat grey-text" ng-click="openSchedulePage()">Schedule</p>
                    </a>
                </div>
                <div class="animated " ng-class="{fadeOut:fadeOutMenu}">

                    <a href="#" class="animated">
                        <p class="montserrat grey-text" ng-click="openTimesheetPage()">Timesheets</p>
                    </a>
                </div>
                <div class="animated " ng-class="{fadeOut:fadeOutMenu}">

                    <a href="#">
                        <p class="montserrat grey-text" ng-click="selectMessageMenu()">Messages</p>
                    </a>
                    <div class="col s1">
                    </div>
                    <div ng-show="messageMenuSelected" class="col s11 blue-grey lighten-1">
                        <a href="#">
                            <p class="montserrat white-text" ng-click="openMessagePage()" style="font-size:14px;">Inbox</p>
                        </a>
                        <a href="#">
                            <p class="montserrat white-text" ng-click="openComposeMessagePage()" style="font-size:14px;">Compose</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="infoPageOpen" class="col s10 animated fadeIn">
            <info-page></info-page>

        </div>
        <div ng-show="schedulePageOpen" class="col s10 animated fadeIn">
            <!--<div fc fc-options="calendarOoptions" ng-model="events"   >  </div> -->
          <!--  <div ng-show="!scheduledJobPageOpen">
                <schedule-page></schedule-page>
            </div>
            <div ng-show="scheduledJobPageOpen">
                <scheduled-job-page></scheduled-job-page>
            </div>
        </div>
        <div ng-show="timesheetPageOpen" class="col s10 animated fadeIn" style="height:59px;">

            <timesheet-page></timesheet-page>

        </div>
        <div ng-show="messagePageOpen" class="col s10 animated fadeIn center-align" style="height:59px;">

            <div ng-show="!composeMessagePageOpen  && !loadingMessages">

                <message-page></message-page>

            </div>
            <div ng-show="!composeMessagePageOpen && loadingMessages">
                <br>
                <br>
                <br>
                <br>
                <i class="fa fa-spin fa-circle-o-notch" style="font-size:40px;" aria-hidden="true"></i>

            </div>
            <div ng-show="composeMessagePageOpen &&!loadingMessages">

                <compose-message-page></compose-message-page>
            </div>

        </div>-->

    </div>

</div>