<div class = "row">
  <div class = "col s2" style="border:2px solid white; height:100%;">

  </div>
  <div class = "col s10 center-align">
<p class = 'montserrat grey-text' style="font-size:20px;">Employee List</p>
    <div class = "row">
    </div>


<div ng-show='!page1' class = "animated fadeIn">

<div class = "col s2">
</div>
<div class = "col s2 left-align" style="border:2px solid white; ">
  <a href="/profile/dianamoon">
  <div  style="border-radius:100px; background-image:url('./img/moon.jpg'); border:2px solid white; width:80px; height:80px;">
  </div>
  </a>
  <div class = "col s12"style="border-bottom:1px solid white;">
  </div>
  <p class = 'montserrat grey-text'>Name: <span class = "railway">Diana Moon</span></p>
    <p class = 'montserrat'>Email: <span class = "railway">Diana Moon</span></p>

  <p class = 'montserrat'>Phone Number: <span class = "railway">Diana Moon</span></p>

  

</div>

<div class = "col s2 left-align" style="border:2px solid white; ">
  <div style="border-radius:100px; background-image:url('./img/pine.jpg'); border:2px solid white; width:80px; height:80px;">
  </div>
  <div class = "col s12"style="border-bottom:1px solid white;">
  </div>
 <p class = 'montserrat grey-text'>Name: <span class = "railway">Diana Moon</span></p>
    <p class = 'montserrat'>Email: <span class = "railway">Diana Moon</span></p>

  <p class = 'montserrat'>Phone Number: <span class = "railway">Diana Moon</span></p>

  

</div>

<div class = "col s2 left-align" style="border:2px solid white; ">
  <div style="border-radius:100px; background-image:url('./img/moon.jpg'); border:2px solid white; width:80px; height:80px;">
  </div>
  <div class = "col s12"style="border-bottom:1px solid white;">
  </div>
 <p class = 'montserrat grey-text'>Name: <span class = "railway">Diana Moon</span></p>
    <p class = 'montserrat'>Email: <span class = "railway">Diana Moon</span></p>

  <p class = 'montserrat'>Phone Number: <span class = "railway">Diana Moon</span></p>

  

</div>

<div class = "col s2 left-align" style="border:2px solid white; ">
  <div style="border-radius:100px; background-image:url('./img/moon.jpg'); border:2px solid white; width:80px; height:80px;">
  </div>
  <div class = "col s12"style="border-bottom:1px solid white;">
  </div>
 <p class = 'montserrat grey-text'>Name: <span class = "railway">Diana Moon</span></p>
    <p class = 'montserrat'>Email: <span class = "railway">Diana Moon</span></p>

  <p class = 'montserrat'>Phone Number: <span class = "railway">Diana Moon</span></p>

  
</div>

<div class = "col s2">
</div>
</div>

<div ng-show='page1' class = "animated fadeIn">

<div class = "col s2">
</div>
<div class = "col s2 left-align" style="border:2px solid white; ">
  <div style="border-radius:100px; background-image:url('./img/pine.jpg'); border:2px solid white; width:80px; height:80px;">
  </div>
  <div class = "col s12"style="border-bottom:1px solid white;">
  </div>
  <p class = 'montserrat grey-text'>Name: <span class = "railway">Diana Moon</span></p>
    <p class = 'montserrat'>Email: <span class = "railway">Diana Moon</span></p>

  <p class = 'montserrat'>Phone Number: <span class = "railway">Diana Moon</span></p>

  

</div>

<div class = "col s2 left-align" style="border:2px solid white; ">
  <div style="border-radius:100px; background-image:url('./img/moon.jpg'); border:2px solid white; width:80px; height:80px;">
  </div>
  <div class = "col s12"style="border-bottom:1px solid white;">
  </div>
 <p class = 'montserrat grey-text'>Name: <span class = "railway">Diana Moon</span></p>
    <p class = 'montserrat'>Email: <span class = "railway">Diana Moon</span></p>

  <p class = 'montserrat'>Phone Number: <span class = "railway">Diana Moon</span></p>

  

</div>

<div class = "col s2 left-align" style="border:2px solid white; ">
  <div style="border-radius:100px; background-image:url('./img/moon.jpg'); border:2px solid white; width:80px; height:80px;">
  </div>
  <div class = "col s12"style="border-bottom:1px solid white;">
  </div>
 <p class = 'montserrat grey-text'>Name: <span class = "railway">Diana Moon</span></p>
    <p class = 'montserrat'>Email: <span class = "railway">Diana Moon</span></p>

  <p class = 'montserrat'>Phone Number: <span class = "railway">Diana Moon</span></p>

  

</div>

<div class = "col s2 left-align" style="border:2px solid white; ">
  <div style="border-radius:100px; background-image:url('./img/moon.jpg'); border:2px solid white; width:80px; height:80px;">
  </div>
  <div class = "col s12"style="border-bottom:1px solid white;">
  </div>
 <p class = 'montserrat grey-text'>Name: <span class = "railway">Diana Moon</span></p>
    <p class = 'montserrat'>Email: <span class = "railway">Diana Moon</span></p>

  <p class = 'montserrat'>Phone Number: <span class = "railway">Diana Moon</span></p>

  
</div>

<div class = "col s2">
</div>
</div>

<div class = "col s6 center-align">
  <i class=" medium material-icons" >chevron_left</i>
</div>
<div class = "col s6 center-align">
  <i class=" medium material-icons" ng-click="changePage()" >chevron_right</i>
</div>
  </div>
</div>