<div class = "row hide-on-small-only">
  <div class = "col s12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "row"></div>
    <div class = "col s6" style="border-right:1px solid black; height:131px" >
 <br>
    <h4 class = "montserrat animated " ng-class="{'slideInLeft':slideinleftwelcome}">Welcome! </h4>
    </div>
    <div class = "col s6 " >

      <h4 ng-show="slideinrightwelcome" class = "montserrat blue-grey-text animated "ng-class="{'slideInRight':slideinrightwelcome}">"Nothing Can Dim The Light That Shines From Within..."</h4>
      <div class ="right-align">
        <p ng-show="slideinrightwelcome" class = "montserrat animated  "ng-class="{'slideInRight':slideinrightwelcome}">- Maya Angelou</P>
      </div>
    </div>
<div class = "col s12">
  <br>
  <br>
    <p ng-show="fadeinwelcome"style="font-size:25px;"class = "montserrat animated" ng-class="{'fadeIn':fadeinwelcome}">
      &nbsp&nbsp &nbspMy name is Leah Kelly, and I'm so glad you are here. I am a Health/Wellness Coach, as well as a Holistic Life Coach devoted to helping women find their inner warrior.  If you've found my site, you must be on a journey to become the best of yourself. I am passionate about empowering women and I want to provide you with the tools to learn the importance of self-love. 

 

I offer a complimentary 30-minute Discovery (FREE of charge) which gives you the opportunity to see for yourself whether or not Shine Bright Coaching is a good fit to support you on your journey.

 </p>
 </div>
  </div>
</div>
<div class = "row hide-on-med-and-up">
  <div class = "col s12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "col s12" style="border-bottom:1px solid black; height:131px" >
 
    <h4 class = "montserrat animated " ng-class="{'slideInLeft':slideinleftwelcome}">Welcome! </h4>
    </div>
    <div class = "col s12 " >
      <h4 ng-show="slideinrightwelcome" class = "montserrat blue-grey-text  animated "ng-class="{'slideInRight':slideinrightwelcome}">"Nothing Can Dim The Light That Shines From Within..."</h4>
      <div class ="right-align">
        <p ng-show="slideinrightwelcome" class = "montserrat animated  "ng-class="{'slideInRight':slideinrightwelcome}">- Maya Angelou</P>
      </div>
    </div>
<div class = "col s12">
    <p ng-show="fadeinwelcome"  class = "montserrat animated" style="font-size:25px;" ng-class="{'fadeIn':fadeinwelcome}">
      My name is Leah Kelly, and I'm so glad you are here. I am a Health/Wellness Coach, as well as a Holistic Life Coach devoted to helping women find their inner warrior.  If you've found my site, you must be on a journey to become the best of yourself. I am passionate about empowering women and I want to provide you with the tools to learn the importance of self-love. 

 

I offer a complimentary 30-minute Discovery (FREE of charge) which gives you the opportunity to see for yourself whether or not Shine Bright Coaching is a good fit to support you on your journey.

 </p>
 </div>
  </div>
</div>